#homepageHeading{
    padding: 20px;
    text-align: center;
    background-color:blanchedalmond;
}
nav{
    display: flex;
    float: right;
    padding: 16px 26px;
    /* position: fixed; */
    
  }
  h4{
    text-align: center;
  }
.LocationSearch{
    background-color: blanchedalmond;
}
input.areaSearch{
    /* margin-left: 650px;  */
    align-items: center;
    height: 35px;
    width: 400px;
}

input.areaSearchButton{
    height: 35px;
    font-size: larger;
    width: 150px;
}

select{
   
    text-align: center;
    height: 35px;
    width: 150px;
    margin-left: 40%;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
}
img{
    height: 900px;
    width:1830px
}

h1 .welcomeHeading{
    display: flex;
    float: left;
  }
  
  nav a{
    margin-right: 16px;
  }
  
  
  nav a.active{
    text-decoration: none;
  }

