h1.Signup-Heading{
    text-align: center;
}
form{
    border: 2px solid;
    height: 250px;
    width: 400px;
    padding-top: 30px;
    margin-left:40% ;
}

label{
    margin-left: 40px;
    display: inline-block;
}

input{
    display: inline-block;
    margin: 20px;
    /* margin-left: 40px; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button{
    margin-top: 15px;
    margin-left: 38%;
}
.Existing-user{
    text-align: center ;
}